@model IEnumerable<TrainerTopic>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border backgroundWhite shadowNew">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Assigned Trainer List</h2>
        </div>
        @if (User.IsInRole(FptLearningSystem.Utility.SD.TrainingStaff))
        {
            <div class="col-6 text-right">
                <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;  Assign Trainer To Topic</a>
            </div>
        }
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.TrainerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.TopicId)
                    </th>
                    @if (User.IsInRole(FptLearningSystem.Utility.SD.TrainingStaff) || (User.IsInRole(FptLearningSystem.Utility.SD.Trainer)))
                    {
                        <th></th>
                    }
                    </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.User.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Topic.Name)
                        </td>
                        @if (User.IsInRole(FptLearningSystem.Utility.SD.TrainingStaff) || (User.IsInRole(FptLearningSystem.Utility.SD.Trainer)))
                        {
                        <td style="width: 150px">
                            <div class="btn-group" role="group">
                                <a class="btn btn-success text-white" asp-area="Authenticated" asp-controller="Topics" asp-action="Details" asp-route-Id="@item.Topic.Id">
                                    <i class="fas fa-list-alt"></i>
                                </a>
                            </div>
                        </td>
                        }
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Assigned Trainer to Topic exists...</p>
        }
    </div>
</div>
